aws {
    region = 'us-east-1'
    client {
        maxConnections = 2
        connectionTimeout = 1000000
        storageEncryption = 'AES256'
        socketTimeout = 100000
        maxErrorRetry = 15
    }
}

process {
    executor = 'awsbatch'
    queue = 'arn:aws:batch:us-east-1:123456789:job-queue/gatk-LowPriority'
}

params {
    fasta_ref = "s3://my-refdata/broad-references/hg38/Homo_sapiens_assembly38.fasta"
    indels_mills = "s3://my-refdata/broad-references/hg38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
    dbsnp_vcf = "s3://my-refdata/broad-references/hg38/Homo_sapiens_assembly38.dbsnp138.vcf"
    indels_humans = "s3://my-refdata/broad-references/hg38/Homo_sapiens_assembly38.known_indels.vcf.gz"
    scattered_calling_intervals_list = "s3://my-refdata/broad-references/hg38/interval_list/scattered_interval_list.txt"
    sequence_grouping_interval_list = "s3://my-refdata/broad-references/hg38/sequence_groups/sequence_group_list.txt"
    sequence_grouping_with_unmapped_interval_list = "s3://my-refdata/broad-references/hg38/sequence_groups_unmapped/sequence_grouping_with_unmapped_list.txt"
    compression_level = 5
    gatk_path = "/usr/local/bin/gatk/gatk"
    gotc_path  = "/usr/local/bin/"
    script_dir = "/tmp"
    java_opt_baserecal = "-Xms4000m"
    java_opt_bqsrreport = "-Xms3000m"
    java_opt_applybqsr = "-Xms3000m"
    java_opt_gatherbams = "-Xms2000m"
    java_opt_bwamem = "-Xms3000m"
    java_opt_mergebams = "-Xms6000m"
    java_opt_markdups = "-Xms4000m"
    java_opt_sort = "-Xms4000m"
    java_opt_fix = "-Xms500m"
    java_opt_haplotype = "-Xmx4G"
    java_opt_mergegvcfs = "-Xmx4G"
    java_opt_convertubams = "-Xms3000m"
    bwa_commandline = "bwa mem -K 100000000 -p -v 3 -t 16 -Y \\\$bash_fasta_ref"
    bwa_path = "/usr/local/bin/"
    library_name = "Illumina"
}

docker {
    enabled = true
    temp = 'auto'
}

mail {
    smtp.host = 'email-smtp.us-east-1.amazonaws.com'
    smtp.port = 587
    smtp.user = '<username>'
    smtp.password = '<password>'
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = true
    smtp.from = 'someone@somewhere.com'
}

notification {
    enabled = true
    to = 'someonelse@somewhere.com'
    from = 'someone@somewhere.com'
}
