cloud {
    imageId = 'ami-4b7daa32'
    instanceType = 'c4.8xlarge'
    subnetId = 'subnet-05222a43'
}

aws {
    region = 'us-east-1'
    client {
        maxConnections = 20
        connectionTimeout = 10000
        storageEncryption = 'AES256'
    }
}

process {
    executor = 'awsbatch'
    queue = 'arn:aws:batch:us-east-1:227114915345:job-queue/sentieon-LowPriority'
}

params {
    fasta_ref = "s3://gfb-genomics/broad-references/hg38/Homo_sapiens_assembly38.fasta"
    outpath = "s3://gfb-genomics/broad-references/hg38"
    script_dir = "/scratch"
}

docker {
    enabled = true
    temp = 'auto'
}

mail {
    smtp.host = 'email-smtp.us-east-1.amazonaws.com'
    smtp.port = 587
    smtp.user = 'AKIAJSZDN2MQ5KSPWRDQ'
    smtp.password = 'BL/ThK/jW5hWpgYFP9GZn6DBKqO+dfeG9PT4PnLwUy4K'
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = true
    smtp.from = 'itops@goldfinchbio.com'
}

notification {
    enabled = true
    to = 'atebbe@goldfinchbio.com'
    from = 'itops@goldfinchbio.com'
}
